.mainContainer {
    background-color: #53cbfb;
    border-radius: 10px;
    margin-bottom: 5px;
    overflow: hidden;
}

.exerciseHeader {
    width: 100%;
    position: static;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.exerciseHeader > * {
    margin: 10px;
}

.exerciseContent {
    width: 100%;
    display: none;
    overflow: hidden;
    padding: 5px 10px 5px 10px;
}

.expand-arrow {
    cursor: pointer;
}

.exerciseContent > * {
    position: relative;
    flex: 1;
}
