/* stylelint-disable selector-id-pattern, declaration-no-important */
@font-face {
  font-family: Inter;
  src: url("../font/Inter-Regular.woff2");
  font-weight: normal;
}

@font-face {
  font-family: Inter;
  src: url("../font/Inter-Bold.woff2");
  font-weight: bold;
}

* { /* requires a generic font family to fall back into e.g. sans-serif */
  font-family: Inter, sans-serif;
  font-weight: normal;
}




header{
  width:90vw;
}

header h1 {
  text-align: center;
  font-weight: bold;
}

#logo{
  width: 100px;
  position:absolute;
}

#mainContainer {
  width: 90vw;
  margin: auto;
}

#scheduledContainer {
  display: flex;
  flex-direction: column;
  /*font-size:25px;*/
}

#completedContainer {
  display: flex;
  flex-direction: column;
  /*font-size:25px;*/
}

* :disabled,
input[disabled] {
  border: 0 !important;
  background-color: transparent;
  color: black;
}

#fixedAddButton {
  text-align: center;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #53cbfb;
  border-radius: 50%;
  position: fixed;
  z-index: 1;
  right: 10px;
  bottom: 10px;
  box-shadow: 3px 3px 5px gray;
}

#fixedAddButton:hover {
  background-color: #02aef2;
  cursor: pointer;
}

html,body{
  display: grid;
  height: 100%;
  place-items: center;
}
/*
body{
  background-image: url(../assets/fitness.jpeg);
  background-repeat:no-repeat;
}
*/

.clock{
  height: 30px;
  width: 180px;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  border-radius: 20px;
  animation: animate 1.5s linear infinite;
  position:absolute;
  right:10px;
  top:10px;
}
.clock .display{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  height: 85px;
  width: 345px;
  text-align: center;
}
.clock .display #time{
  line-height: 85px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  animation: animate 1.5s linear infinite;
}
@keyframes animate {
  100%{
    filter: hue-rotate(100deg);
  }
}