name: GitHub pages

on:
  push:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build
        uses: andstor/jsdoc-action@v1.2.1
        with:
          source_dir: ./source
          output_dir: ./out
          recurse: true
          front_page: docs.md

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./out
          keep_files: true
          publish_branch: jsdoctest  # default: gh-pages
